.DS_Store
EDA.ipynb
fresh_exploration.ipynb
nobleEDA.ipynb
teamEDA.ipynb
teamEDA1.ipynb
.ipynb_checkpoints/index-checkpoint.ipynb
.ipynb_checkpoints/nobleEDA-checkpoint.ipynb
.ipynb_checkpoints/teamEDA-checkpoint.ipynb
.ipynb_checkpoints/teamEDA1-checkpoint.ipynb

